

@media (max-width: 760px) {
  .container__hero--title{font-size: var(--text-4xl)
}
 .container__hero--description{max-width: 480px;}
}


@media (max-width: 450px) {
  .container{
    flex: none;
  }
}


@media (max-width: 560px) {
  .container__hero--title{font-size: var(--text-3xl)
}
.container__hero--description{max-width: 300px;}

}

@media (max-width: 460px) {
  .container__hero--title{font-size: var(--text-2xl)
}
}

