#opportunity-list-display {
  padding-top: var(--space-16);
  text-transform: capitalize;
}

.total-opportunities {
  font-weight: var(--font-bold);
}
.opportunity-list {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-5);
  width: 100%;
}

.list-head,
.opportunity-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--font-size-base);
}

.opportunity-card {
  margin-top: var(--space-3);
  padding-top: var(--space-5);
  padding-bottom: var(--space-10);
  border-top: 1px solid var(--color-neutral-600);
  /* reset anchor styles */
  color: inherit;
  text-decoration: none;
}

.opportunity-card:hover {
  background-color: var(--color-neutral-50);
}
.opportunity-amount {
  flex: 0 0 200px;
}
.opportunity-title {
  flex: 1;
}
.opportunity-title-tag {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-weight: bold;
}

.opportunity-deadline img {
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.opportunity-deadline {
  display: flex;
  flex: 0 0 200px;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  font-size: var(--font-size-base);
  font-weight: var(--font-medium);
}

.foundation-amount {
  font-weight: var(--font-medium);
  font-size: var(--font-size-base);
}
.foundation-type {
  font-weight: var(--font-light);
  font-size: var(--text-sm);
}
.foundation-owner {
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  color: #403f46;
}

@media screen and (max-width: 768px) {
  .opportunity-card {
    flex-wrap: wrap;
    padding-bottom: var(--space-3);
  }
  .opportunity-title {
    width: 100%;
    order: 3;
    padding-top: var(--space-3);
    white-space: wrap;
  }
  .opportunity-amount {
    flex: auto;
    width: 50%;
  }
  .opportunity-deadline {
    flex: auto;
    width: 50%;
    order: 2;
  }
}
