.contributor-card[data-variant='blue'] .contributor-card__display {
  background-image: url(./../assets/card-backgrounds/card-bg-blue.svg);
}

.contributor-card[data-variant='pink'] .contributor-card__display {
  background-image: url(./../assets/card-backgrounds/card-bg-pink.svg);
}

.contributor-card[data-variant='purple'] .contributor-card__display {
  background-image: url(./../assets/card-backgrounds/card-bg-purple.svg);
}

.contributor-card[data-variant='green'] .contributor-card__display {
  background-image: url(./../assets/card-backgrounds/card-bg-green.svg);
}

.contributor-card[data-variant='yellow'] .contributor-card__display {
  background-image: url(./../assets/card-backgrounds/card-bg-yellow.svg);
}
